# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
dist-electron
dist-app
release
.localhub-store
.trae
pnpm-workspace.yaml
*.local
.eslintcache

# Environment variables
.env
.env.*
!.env.example
.secrets

# Certificates and keys
*.pem
*.key
*.cert
*.p12
*.pfx

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database/Backup/Misc
*.sql
*.bak
*.sqlite
*.db
*.pcap
